.aboutus {
	display: flex;
	margin: 10rem 15rem 4rem 15rem;
	gap: 3rem;
}

/* Left */
.aboutus-left {
	width: 90%;
}

.aboutus-left .left-heading {
	display: flex;
	align-items: center;
	gap: 0.47rem;
}

.left-heading h1 {
	font-size: 2rem;
	font-weight: 500;
}

.aboutus-left h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0.66rem 0;
	color: black;
}

.aboutus-left p {
	font-size: 1rem;
	font-weight: 400;
	margin: 1rem 0;
	color: black;
}

.aboutus-left button {
	background: var(--primary-green);
	padding: 1rem 2rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 0.5rem;
	margin-top: 0.8rem;
}

.aboutus-left button span {
	color: white;
}

/* Right */
.aboutus-right {
	width: 100%;
}

.aboutus-right img {
	width: 100%;
}
