.workflow {
	margin: 3rem 14rem;
}

/* Heading */
.workflow-heading {
	display: flex;
	align-items: center;
	gap: 0.47rem;
	margin-bottom: 0.2rem;
}

.workflow-heading h1 {
	font-size: 2rem;
	font-weight: 500;
}

/* Subheading */
.workflow-subheading {
	margin-bottom: 5rem;
}

.workflow-subheading h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: black;
}

/* Body */
.workflow-body {
	display: flex;
	justify-content: space-between;
	margin: 0 12rem;
}

.workflow-body span {
	position: absolute;
	transform: translateX(-10.2rem) translateY(3.5rem);
	font-size: 4rem;
	color: white;
	font-weight: 700;
}

.workflow-body .body-circle:last-child span {
	position: absolute;
	transform: translateX(-10.6rem) translateY(3.5rem);
	font-size: 4rem;
	color: white;
	font-weight: 700;
}

.workflow-body h3 {
	margin-top: 2.2rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
}

.workflow-body .body-circle:first-child h3 {
	transform: translateX(0.5rem);
}

.workflow-body .body-circle:nth-child(2) h3 {
	transform: translateX(-0.5rem);
}

.workflow-body .body-circle:last-child h3 {
	transform: translateX(-0.5rem);
}
